version: "3.4"

networks:
 docker-net:
  name: docker-net
  driver: bridge
  ipam:
    config:
      - subnet: 172.1.1.0/24

services:

  postgres:
    image: postgres:11-alpine
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sonar
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 30s
      timeout: 3s
      retries: 5
    volumes:
      - ./docker-disks/postgres:/var/lib/postgresql
      - ./docker-disks/postgres-data:/var/lib/postgresql/data

  sonarqube:
    image: sonarqube:9.7.1-community
    restart: on-failure:5
    depends_on:
      - postgres
    environment:
      TZ: ${TZ}
      SONAR_JDBC_URL: jdbc:postgresql://postgres:5432/sonar
      SONAR_JDBC_USERNAME: postgres
      SONAR_JDBC_PASSWORD: password
      ES_JAVA_OPTS: "-Xms1024m -Xmx1024m"      
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: true      
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - ./docker-disks/sonarqube-data:/opt/sonarqube/data
      - ./docker-disks/sonarqube-extensions:/opt/sonarqube/extensions
      - ./docker-disks/sonarqube-logs:/opt/sonarqube/logs
    ports:
      - "9000:9000"

